<h1>Editing release</h1>

<%= error_messages_for :release %>

<% form_for @release do |f| %>
  <p>
    <b>Movie</b><br />
    <%= f.select :movie_id, @movies %>
  </p>

  <p>
    <b>Format</b><br />
    <%= f.text_field :format %>
  </p>

  <p>
    <b>Released on</b><br />
    <%= f.date_select :released_on %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @release %> |
<%= link_to 'Back', releases_path %>
