<h1>Listing movies</h1>

<% form_tag movies_path, :method => :get do %>
Find a movie: <%= text_field_tag :query %>
<% end %>

<ul id="listing">
  <% @movies.each_with_index do |movie, i| %>
    <li<%= i%3 == 0 ? ' class="clear"' : '' %>>
      <%= link_to image_tag(movie.image.public_filename, :alt => ''), movie if movie.image %>
      <h2><%= link_to h(movie.title), movie %></h2>
      <p class="rating"><%= h movie.rating %></p>
      <%= admin_link_to 'edit', edit_movie_path(movie) %> |
      <%= admin_link_to 'destroy', movie, {
        :confirm => 'Are you sure?', 
        :method => :delete
      } %>
    </li>
  <% end%>
</ul>

<br class="clear" />

<%= will_paginate %>

<%= admin_link_to 'New movie', new_movie_path %>
