<h1>Editing movie</h1>

<%= error_messages_for :movie %>

<% form_for @movie, :html => {:multipart => true} do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Rating</b><br />
    <%= f.text_field :rating %>
  </p>
  
  <p>
    <b>Image</b><br />
    <%= f.file_field :uploaded_data %>
  </p>

  <p>
    <b>People</b><br />
    <% @movie.roles.each do |role| %>
      <%= check_box_tag "movie_deleted_roles_#{role.id}", role.id, false, {
        :name => 'movie[deleted_roles][]'
      } %>
      <%= h role %><br />
    <% end %>
  </p>

  <p>
    <b>Add New People</b><br />
    <% (1..3).each do |i| %>
      <%= select_tag 'movie_new_role_person_id', options_for_select(@people), {
        :name => "movie[new_role][#{i}][person_id]"
      } %>
      <%= text_field_tag 'movie_new_role_name', '', {
        :name => "movie[new_role][#{i}][name]"
      } %><br />
    <% end %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>
